.DS_Store
*.log*
node_modules/
.turbo
.eslintcache

dist/
dist-*/
compiled/
coverage/
doc_build/
playwright-report/
tsconfig.tsbuildinfo
tsconfig.esm.tsbuildinfo
tsconfig.cjs.tsbuildinfo
test-temp-*
test-results

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.nx/
**/@mf-types
**/@mf-types/**
.env.local
.env.*.local