name: Benchmark

on:
  schedule:
    - cron: '0 1 * * *' # 01:00 UTC
  workflow_dispatch:
    inputs:
      ref:
        description: 'head to bench (input branch, tag or SHA)'
        required: true
        default: 'main'

jobs:
  benchmark:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [20]

    steps:
      # just a dummy step
      - name: Dummy Step
        run: echo "TODO:\ Support benchmark in Rstest, this job is only a placeholder for the time being."

      # - name: Checkout
      #   uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      #   with:
      #     fetch-depth: 10
      #     ref: ${{ inputs.ref || 'main' }}

      # - name: Install pnpm
      #   run: |
      #     npm install -g corepack@latest --force
      #     corepack enable

      # - name: Setup Node.js ${{ matrix.node-version }}
      #   uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      #   with:
      #     node-version: ${{ matrix.node-version }}
      #     cache: 'pnpm'

      # - name: Install Dependencies
      #   run: pnpm install && cd ./tests && pnpm playwright install chromium

      # # only run benchmark in Ubuntu
      # - name: Benchmarks (Rstest)
      #   uses: CodSpeedHQ/action@0010eb0ca6e89b80c88e8edaaa07cfe5f3e6664d # v3
      #   with:
      #     run: pnpm run test:benchmark
      #     # token retrieved from the CodSpeed app at the previous step
      #     token: ${{ secrets.CODSPEED_TOKEN }}
